[submodule "boost"]
	path = libs/boost
	url = git@github.com:KayEss/fost-boost.git
[submodule "fost-base"]
	path = libs/fost-base
	url = git@github.com:KayEss/fost-base.git
[submodule "cord"]
	path = libs/cord
	url = git@github.com:KayEss/f5-cord.git
[submodule "threading"]
	path = libs/threading
	url = git@github.com:KayEss/f5-threading.git
[submodule "crypto++"]
	path = libs/crypto++
	url = git@github.com:KayEss/fost-crypto.git
[submodule "libs/fost-postgres"]
	path = libs/fost-postgres
	url = git@github.com:KayEss/fost-postgres.git
[submodule "libs/PostgreSQL"]
	path = libs/PostgreSQL
	url = git@github.com:KayEss/fost-libpq.git
